toggle-password input:placeholder-shown ~ .eye {
  @apply hidden;
}

.eye {
  .icon-eye {
    @apply block;
  }
  .icon-eye-hidden {
    @apply hidden;
  }
  &.active {
    .icon-eye {
      @apply hidden;
    }
    .icon-eye-hidden {
      @apply block;
    }
  }
}

.account-description {
  a {
    @apply font-medium underline;
  }
}


#recover {
  @apply hidden;
}
#recover:target {
  @apply block;
}
#recover:target~#login {
  @apply hidden;
}
input:checked ~ .icon-checkmark {
  @apply opacity-100 visible text-background;
}
input:checked ~ .icon-box {
  @apply fill-primary text-primary;
}
.register-lastdes {
  a {
    @apply underline capitalize font-medium underline-offset-2 block;
  }
}

.iti {
  @apply w-full;

  *:empty {
    @apply block;
  }
  .iti__arrow {
    @apply hidden;
  }
  .iti__flag-container {
    @apply hover:!bg-transparent;
  }
  .iti__selected-flag {
    @apply pl-8 pr-2.5;
  }
}

.iti__flag-container:before {
  content: '';
  height: 16px;
  width: 1px;
  background: #EDEDED;
  position: absolute;
  display: block;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
}

.bitlogin-root+div {
  @apply hidden;
}
.bitlogin-root {
  @apply -order-1 lg:order-8 flex !flex-row flex-wrap justify-center gap-4 !mb-4 lg:!mb-8 !w-full;
  .scheme-match {
    @apply !p-0 !w-12 !h-12 !rounded-full !flex !items-center !justify-center border-primary;
    svg {
      @apply !w-6 !h-6 flex-none;
    }
    p {
      @apply hidden;
    }
    &#google-login {
      @apply border border-primary;
    }
    &#facebook-login {
      @apply bg-[#1977F3];
    }
    &#apple-login {
      @apply bg-black;
    }
    &#twitter-login {
      @apply bg-black;
    }
  }
}

.main-register-wrapper .bitlogin-root {
  @apply !mt-3 lg:!mt-4;
}
.account-address .bitlogin-root {
  @apply !hidden;
}