input:checked ~ .icon-checkmark {
  @apply opacity-100 visible text-primary;
}
input:checked ~ .icon-box {
  @apply text-primary;
}
input:checked ~ div {
  @apply text-primary;
}
.clickout-accordion ul.details {
  @apply opacity-0 invisible;
}
.clickout-accordion.active ul.details {
  @apply opacity-100 visible;
}
.facet.active {
  @apply !translate-x-0 md:!translate-x-0 lg:duration-300;
}
.facet.active toggle-filter {
  @apply opacity-100;
}
#product-grid.active {
  toggle-filter {
    @apply lg:block lg:opacity-100 lg:visible;
  }
}
#ProductGridContainer.loading:before {
  @apply content-empty fixed w-full h-full block z-20 left-0 top-0 bg-background opacity-50;
}
#ProductGridContainer.loading::after {
  @apply content-empty fixed w-6 h-6 block z-30 border rounded-full border-r-2 border-r-transparent border-solid border-primary left-2/4 top-2/4;
  animation: 0.5s spin linear infinite;
}
.range-slider input[type='range'] {
  @apply appearance-none;
  -webkit-tap-highlight-color: black;
}

#product-grid.active {
  .show {
    @apply lg:block;
  }
  .hide {
    @apply lg:hidden;
  }
}
.box-option:checked ~ label {
  @apply bg-primary text-background border-primary;
}
.js-current-products {
  @apply font-medium text-primary;
}
.toggle-show {
  .show {
    @apply flex;
  }
  .hide {
    @apply hidden;
  }
  &.active {
    .show {
      @apply hidden;
    }
    .hide {
      @apply flex;
    }
  }
}

.sticky-facet header {
  @apply shadow-none;
}
.sticky-facet .facet-mobile #ProductCount {
  @apply hidden lg:block;
}
.search-active.sticky-facet .facet-mobile {
  @apply z-10;
}
.sticky-facet .facet-mobile {
  @apply items-center shadow-search;
  toggle-filter {
    button {
      @apply bg-transparent py-4 pl-0;
    }
  }
}
.facet.active ~ .toggle-mobile {
  @apply opacity-100 visible;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;
}

.range-slider input {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  outline: none;
  height: 8px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  background-color: #ddd;
  border-radius: 10px;
}

.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #007b8e;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  width: 18px;
  height: 18px;
  background-color: #007b8e;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: #ddd;
  border: 0;
  height: 4px;
  border-radius: 10px;
}

.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.range-slider input[type='range']::-moz-focus-outer {
  border: 0;
}

.range-slider .range-label {
  position: absolute;
  top: -30px;
  font-size: 14px;
  color: #333;
}