input:checked + label:not(.color) {
  @apply border-special bg-background text-primary border-2;
}
input.disabled + label {
  @apply line-through bg-gray-400 border-gray-400;
}

input:checked + label.color {
  @apply border-special;
}
.dark-link {
  @apply text-primary hover:text-primary;
}
/***** Button ******/

.btn {
  @apply flex items-center justify-center border border-primary text-background bg-primary hover:bg-background hover:text-primary transition-all rounded-lg h-13.5 px-3 text-sm uppercase no-underline;
}

.btn-2 {
  @apply flex items-center justify-center border border-secondary text-background bg-secondary hover:bg-background hover:text-secondary transition-all rounded-lg h-13.5 px-3 text-sm uppercase no-underline;
}

.btn-outline {
  @apply flex items-center justify-center border border-primary text-primary bg-background hover:text-background hover:bg-primary transition-all rounded-lg h-13.5 px-3 text-sm uppercase no-underline;
}

.btn-2-outline {
  @apply flex items-center justify-center border border-secondary text-secondary bg-background hover:text-background hover:bg-secondary transition-all rounded-lg h-13.5 px-3 text-sm uppercase no-underline;
}

.btn-error {
  @apply hover:text-primary hover:bg-error text-error bg-primary border-error;
}

.btn.active {
  @apply btn-2;
}

/***** End button ******/

.product-form__submit,
.product-form__submit.ld-over-inverse {
  @apply !w-full !h-13.5 !relative !capitalize !border !text-h5 !font-heading !font-semibold !whitespace-nowrap !inline-block !tracking-[0] !transition-colors !cursor-pointer !shadow-none !underline-offset-[0.3rem] !no-underline !rounded-[20px];
}

.product-form__submit.hidden-cart-btn {
  @apply !hidden;
}

.product-form__submit.ld-over-inverse.btn-primary {
  @apply !text-primary !bg-primary !border-primary hover:!text-primary hover:!bg-primary hover:!border-primary;
}

.product-form__error-message-wrapper[hidden] {
  @apply opacity-0 invisible;
}

accordion-toggle:not(.active) .icon-text::before {
  @apply opacity-0 invisible;
}

accordion-toggle.review.active .details {
  @apply !max-h-full;
}

.product-infortab a,
.product-infor a {
  @apply font-medium dark-link;
}
.product-infortab .jdgm-rev-widg__body {
  @apply max-h-[1000px] overflow-auto pr-2;
}

tabs-component .tab-heading.active {
  @apply text-primary;
}

tabs-component.product-infortab .tab-detail.lg\:hidden {
  @apply block opacity-0 invisible !max-h-0 !p-0;
}

.product-infortab img {
  @apply w-full rounded;
}

.transition-height {
  transition: height 0.5s ease;
}

.sticky-header .product-media-wrapper {
  @apply lg:top-[158px];
}


/** Size guide **/
.sizeguide {
  button.tab-heading.active {
    @apply text-primary bg-primary;
  }
  table {
    @apply w-full rounded-lg overflow-hidden;
    tbody {
      @apply w-full lg:flex;
      tr {
        @apply w-full text-center lg:flex lg:flex-col odd:bg-[#FFFFFF];
        th {
          @apply lg:w-full lg:h-full lg:text-left uppercase text-xs leading-2 font-semibold font-heading text-primary lg:text-base lg:leading-4 p-2.5 lg:px-6 lg:whitespace-nowrap;
        }
        td {
          @apply text-xs leading-5 font-normal text-primary lg:text-base lg:leading-6 py-2 lg:py-2.5 px-1 !border-none;
        }
        &:not(:first-child) th {
          @apply mx-auto lg:text-center font-normal text-xs leading-5 text-primary lg:text-base lg:leading-6 font-body py-2 lg:py-2.5 lg:px-1;
        }
      }
    }
  }
  input[type="radio"]:not(:checked)+label {
    .icon-radio {
      @apply block;
    }
    .icon-radio-checked {
      @apply hidden;
    }
  }

  input[type="radio"]:checked+label {
    .icon-radio {
      @apply hidden;
    }
    .icon-radio-checked {
      @apply block;
    }
  }

}
/** End size guide **/

.product-form__buttons .ld-over-inverse.running:before, .ld-over-full.running:before, .ld-over-full-inverse.running:before {
  @apply !z-10;
}

.product-description div {
  @apply mb-4 lg:mb-6 mt-2 lg:mt-3 first:!mt-0 last:!mb-0;
}
.product-description div * {
  @apply text-sm leading-5 mb-2 last:mb-0 inline;
}

.product-description div ul {
  @apply list-item list-inside list-disc;
}
.product-description div ul li {
  @apply !mb-2 last:!mb-0
}
.product-description div ul li * {
  @apply !mb-0;
}

.product-description img {
  @apply w-full rounded mb-4 lg:mb-6 last:mb-0;
}

.section-product-description .tab-heading.active {
  @apply text-primary border-primary;
}
.\!display-inherit {
  display: inherit!important;
}
.product-description .product-details * {
  @apply text-sm leading-5 mb-2 last:mb-0 !display-inherit;
}

.product-description .product-details ul {
  @apply list-inside list-disc mb-4;
}
.product-description .product-details ul li {
  @apply !mb-1 last:!mb-0 !list-item;
}
.product-description .product-details ul li * {
  @apply !mb-0;
}

button.product-form__submit:disabled ~ .button-unavailable,
button#customily-cart-btn:disabled ~ .button-unavailable, 
.button-unavailable.onload {
  display: block;
  width: 100%;
  height: 54px;
  position: absolute;
  bottom: 0;
  right: 0;
  flex: 0 0 100%;
  cursor: pointer;
  @media (min-width: 1024px) {
    width: 100%;
  }
}

button#customily-cart-btn:not(:disabled) ~ .button-unavailable {
  @apply !hidden;
}

product-infor accordion-toggle .details * {
  @apply !text-sm;
}

product-infor accordion-toggle .details ul {
  @apply !list-inside list-disc;
}

.installment shopify-payment-terms {
  @apply w-fit block mx-auto;
}

#customily-options {
  @apply p-0 pt-6 mt-6 lg:p-6 lg:mt-6 lg:pb-0 !mb-2 lg:!mb-6 lg:bg-[#f6f6f6] lg:rounded-xl border-border border-t lg:border;
  #cl_optionsapp {
    label {
      @apply mt-0;
    }
    .help-text {
      @apply text-xs leading-5 font-normal text-primary;
    }
    .customily_option {
      @apply pb-6 mb-0 ;
    }
    .customily_option input:not([type='checkbox']):not(.vc-input__input), .customily_option select {
      @apply !min-h-[50px] rounded-[100px] !px-6 !py-3 !border-border !ring-0 !outline-none focus:!border-primary ;
    }
    .swatch-container {
      @apply gap-1 lg:gap-1.5;
      label {
        @apply shadow-none !border border-border !rounded overflow-hidden flex justify-center items-center;
      }

      input:checked ~ label {
        @apply border-secondary relative after:absolute after:bg-vertify after:bg-no-repeat after:bottom-1 after:right-1 after:w-[13px] after:h-[13px] after:block;
      }
    }
    select {
      background: var(--select) no-repeat right white !important;
      background-position: calc(100% - 24px) 50%!important;
    }
    textarea {
      @apply !min-h-[50px] rounded-2xl !px-6 !py-3 !border-border !ring-0 !outline-none focus:!border-primary;
    }
    .swatch-container .swatch, .cl-color-picker-container .cl-color-picker {
      @apply m-0;
    }
    .mapboxgl-ctrl-geocoder {
      @apply rounded-[100px];
    }
  }
  .option_name {
    @apply font-heading text-base leading-4 text-primary font-medium mb-2 mt-0;
    .customily-required-label {
      @apply text-error;
    }
  }
  .customily-file-input {
    @apply mb-2 flex items-center
  }
  .customily-download-button {
    @apply capitalize font-normal flex items-center gap-1.5 font-body text-sm py-2 px-3 mb-0 rounded border border-solid bg-background text-primary border-primary hover:text-primary hover:bg-primary hover:border-primary transition-all;
    &:before {
      content: var(--image-upload);
      @apply block w-8 h-8;
    }
  }
  .cl_remove-image {
    @apply bg-primary rounded-full font-heading text-xs !border-none ml-3 w-8 h-8 flex items-center justify-center text-primary;
  } 

  .customily-download-button {
    @apply text-[0px] leading-[0px];
  } 
}

inbox-online-store-chat {
  @apply !bottom-20 lg:!bottom-4
}

.jdgm-review-widget {
  @apply mx-auto px-container-mobile md:px-container-tablet lg:px-container-desktop max-w-container;
}

slider-component.gallery .slider-dots .slider-dot.active {
  @apply border-[3px] !border-special
}


.product-description div {
  @apply mb-4 lg:mb-6 mt-2 lg:mt-3 first:!mt-0 last:!mb-0;
}

.product-description div * {
  @apply text-sm leading-5 mb-4 last:mb-0 ;
}

.product-description div ul li {
  @apply !mb-2 last:!mb-0
}

.product-description div ul li * {
  @apply !mb-0;
}

.product-description img {
  @apply w-full rounded mb-4 lg:mb-6 last:mb-0;
}

.product-details * {
  @apply text-sm leading-5 mb-4 last:mb-0;
}

.product-details a {
  @apply !inline;
}

.product-details p:empty {
  @apply !block h-[0.02px];
}

.product-details.special p {
  @apply !inline;
}

.product-details ul {
  @apply list-inside list-disc mb-4 ml-2 -mt-2 first:mt-0;
}

.product-details ol {
  @apply list-inside list-decimal mb-4 ml-2 -mt-2 first:mt-0;
}

.product-details ul li,
.product-details ol li {
  @apply !mb-1 last:!mb-0;
}

.product-details ul li *,
.product-details ol li * {
  @apply !mb-0;
}

.shipping-description {
  @apply font-light text-primary text-sm leading-5;
}

.shipping-mini-description {
  @apply font-light text-primary text-xxs leading-4.5;
}

.shipping-description *, .shipping-mini-description * {
  @apply mb-4 last:mb-0 
}

.shipping-description h1,
.shipping-description h2,
.shipping-description h3,
.shipping-description h4,
.shipping-description h5,
.shipping-description h6,
.shipping-mini-description h1,
.shipping-mini-description h2,
.shipping-mini-description h3,
.shipping-mini-description h4,
.shipping-mini-description h5,
.shipping-mini-description h6 {
  @apply font-semibold mb-4 text-primary;
}

.shipping-description p+p,
.shipping-mini-description p+p {
  @apply -mt-3;
}

.shipping-description ul,
.shipping-mini-description ul {
  @apply list-inside list-disc mb-4 ml-2 -mt-2 first:mt-0;
}

.shipping-description ol,
.shipping-mini-description ol {
  @apply list-inside list-decimal mb-4 ml-2 -mt-2 first:mt-0;
}

.shipping-description ul li,
.shipping-description ol li,
.shipping-mini-description ul li,
.shipping-mini-description ol li {
  @apply !mb-1 last:!mb-0;
}

.shipping-description ul li *,
.shipping-description ol li *,
.shipping-mini-description ul li *,
.shipping-mini-description ol li * {
  @apply !mb-0;
}

.shipping-description strong,
.shipping-description b,
.shipping-mini-description strong,
.shipping-mini-description b {
  @apply font-medium mb-0;
}

.content-wrapper {
  @apply text-primary font-light text-sm leading-5 md:text-base md:leading-6;
}

.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5,
.content-wrapper h6,
.content-wrapper h1 *,
.content-wrapper h2 *,
.content-wrapper h3 *,
.content-wrapper h4 *,
.content-wrapper h5 *,
.content-wrapper h6 * {
  @apply mx-0 text-primary !font-semibold;
}

.content-wrapper h2,
.content-wrapper h2 * {
  @apply !text-base lg:!text-h5 !font-semibold;
}

.content-wrapper h3,
.content-wrapper h3 *,
.content-wrapper h4,
.content-wrapper h4 *,
.content-wrapper h5,
.content-wrapper h5 *,
.content-wrapper h6,
.content-wrapper h6 * {
  @apply !text-sm lg:!text-base !font-semibold;
}

.content-wrapper h1,
.content-wrapper h2,
.content-wrapper h3,
.content-wrapper h4,
.content-wrapper h5,
.content-wrapper h6 {
  @apply lg:mx-0 my-2 first:mt-0;
}

.content-wrapper a,
.content-wrapper p,
.content-wrapper ul {
  @apply mb-4;
}

.content-wrapper a,
.content-wrapper a * {
  @apply inline !font-semibold;
}

.content-wrapper a {
  @apply underline;
}

.content-wrapper p+h2,
.content-wrapper p+h3,
.content-wrapper p+h4,
.content-wrapper p+h5 {
  @apply mt-5;
}

.content-wrapper p+p {
  @apply -mt-3 lg:-mt-4;
}

.content-wrapper b * {
  @apply !font-semibold;
}

.content-wrapper ul {
  @apply list-inside text-primary font-body;
}

.content-wrapper ol {
  @apply list-inside list-decimal text-primary font-body;
}

.content-wrapper ul > ul {
  @apply pl-5 lg:pl-10;
}

.content-wrapper ul li p {
  @apply inline;
}

.content-wrapper ul li,
.content-wrapper ul li * {
  @apply list-disc marker:text-primary text-sm leading-5 md:text-base md:leading-6;
}

.content-wrapper ul li * {
  @apply !mb-0;
}

.content-wrapper strong,
.content-wrapper strong *,
.content-wrapper b,
.content-wrapper b * {
  @apply !font-medium;
}

.content-wrapper blockquote,
.content-wrapper blockquote * {
  @apply !font-light !font-heading text-xs md:text-sm italic m-0 p-0 !text-center;
}

.content-wrapper blockquote {
  @apply mx-auto mt-2 mb-4 lg:mb-5;
}

.content-wrapper table {
  @apply !w-full !rounded-lg !mx-auto;
}

.content-wrapper table tr {
  @apply !border-t !border-b !border-primary;
}

.content-wrapper table tr td,
.content-wrapper table tr th {
  @apply !border-x !border-primary !text-center !p-2 first:!text-left;
}

.content-wrapper table tr td * {
  @apply !m-0;
}

.content-wrapper img {
  @apply h-fit object-contain max-w-full rounded-[10px] !mx-auto block;
}


.sizeguide-mobile {
  h2 {
    @apply text-center mb-3;
  }
  table {
    @apply w-full rounded-lg overflow-hidden mb-8 last:mb-0 border border-border;
    tbody {
      @apply w-full border border-border;
      tr {
        @apply w-full text-center odd:bg-border border border-border;
        th {
          @apply text-sm leading-2 md:text-base md:leading-2 font-medium font-heading text-primary p-3 md:px-4 border border-border;
        }
        td {
          @apply text-sm leading-5 md:text-base md:leading-6 font-light text-primary p-3 md:px-4 border border-border;
        }
        &:not(:first-child) th {
          @apply mx-auto font-light text-primary font-body py-2;
        }
      }
    }
  }
}

product-infor .jdgm-prev-badge,
product-infor .jdgm-prev-badge[data-average-rating='0.00'] {
  @apply !block;
}