{%- if cart != empty -%}
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true" class="flex justify-center items-center h-full text-xxs leading-none">{{ cart.item_count }}</span>
  {% else %}
    <span aria-hidden="true" class="flex justify-center items-center h-full text-xxs">+99</span>
  {%- endif -%}
{%- endif -%}