<div
  id="predictive-search-results"
  class="px-5 py-6"
  role="listbox">
  <div id="predictive-search-results-groups-wrapper" class="grid grid-cols-1">
    <div class="predictive-search__result-group w-full col-span-1 flex flex-col gap-5 lg:gap-8">
      {% if settings.predictive_popular_search != blank %}
        {% assign popularSearches = settings.predictive_popular_search | split: ',' %}
        <div>
          <span class="block uppercase text-xs font-normal leading-6 text-primary lg:text-sm lg:leading-4 mb-2 lg:mb-3">{{ 'predictive_search.popular_search' | t }}</span>
          <div class="grid grid-cols-1 lg:gap-2.5">
            {% for search in popularSearches %}
              <span class="flex w-full items-center gap-1.5">
                {% render 'icon-search', class: 'w-4 h-4' %}
                <a class="cursor-pointer text-xs font-normal font-heading leading-2" href="/search?q={{ search | url_encode }}">{{ search | strip }}</a>
              </span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<span class="hidden" data-predictive-search-live-region-count-value>
  {% liquid
    assign total_results = predictive_search.resources.products.size | plus: first_column_results_size
    if total_results == 0
      echo 'templates.search.no_results' | t: terms: predictive_search.terms
    else
      echo 'templates.search.results_with_count' | t: count: total_results | append: ': '
      if predictive_search.resources.queries.size > 0
        assign count = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size
        echo 'templates.search.results_suggestions_with_count' | t: count: count | append: ', '
      endif
      if predictive_search.resources.pages.size > 0
        assign count = predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size
        echo 'templates.search.results_pages_with_count' | t: count: count | append: ', '
      endif
      if predictive_search.resources.products.size > 0
        echo 'templates.search.results_products_with_count' | t: count: predictive_search.resources.products.size
      endif
    endif
  %}
</span>