{% assign minimum = settings.minimum_freeshipping | append: '00' | plus: 0 %}
{% assign minimumPrice = settings.minimum_freeshipping | append: '00' | plus: 0 | money_without_currency %}
{% assign freeshipping = false %}
{% for variant in product.variants %}
  {% assign price = variant.price | money_without_currency %}
  {% if variant.available %}
    {% if price >= minimumPrice %}
      {% assign freeshipping = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if freeshipping %}
  <div class="flex items-center gap-2 mt-1.5 lg:mt-2">
    <div class="hidden lg:flex items-center text-primary px-2.5 py-1 bg-[#F6F6F6] rounded overflow-hidden uppercase after:block after:font-heading after:text-[11px] after:font-medium after:leading-[11px] after:content-freeship">
      {% render 'icon-truck', class: 'w-4 h-[11px] mr-1.5' %} 
    </div>
    <div class="relative group text-primary">
      {% render 'icon-warning', class: 'hidden lg:block' %}
      <div class="bg-[#F6F6F6] py-1 px-2 lg:bg-background lg:-translate-x-1/2 lg:-translate-y-full lg:w-max lg:z-10 lg:p-4 lg:absolute lg:left-0 lg:-top-4 lg:invisible lg:opacity-0 group-hover:lg:opacity-100 group-hover:lg:visible lg:rounded lg:shadow-[0px_2px_7px_0px_rgba(0,0,0,0.12)]">
        <div class="hidden lg:flex items-center text-primary mb-2 rounded overflow-hidden after:block after:font-heading after:text-[11px] after:lg:text-sm after:text-primary after:capitalize after:font-medium after:leading-3 after:content-freeship">
          {% render 'icon-truck', class: 'w-4 h-[11px] mr-1.5' %} 
        </div>
        <span class="block text-xxs leading-none text-primary lg:text-xs lg:leading-normal font-medium lg:font-normal before:content-[var(--textfreeshipmobile)] before:lg:content-[var(--textfreeship)]" style="--textfreeshipmobile: '{{"products.shipping_information.overmb" | t }}';--textfreeship: '{{"products.shipping_information.over" | t }}'"><span class="text-sale !inline-block font-medium after:content-[var(--minimum)]" style="--minimum: '{{ minimum | money_without_trailing_zeros }}'"></span></span>
        <span class="absolute hidden lg:!block w-4 h-4 bottom-0 left-1/2 bg-background shadow-[8px_8px_10px_0_rgba(0,0,0,0.1)] rotate-45 translate-y-1/2 transform"></span>
      </div>
    </div>
  </div>
{% else %}
  {% if freeship_placeholder %}
    <div class="!block mt-1.5 lg:mt-2 h-4.5 lg:h-[19px]"></div>
  {% endif %}
{% endif %}