<div class="flex flex-col{{ class }}">
  {%- liquid 
    assign product_created_at = product.created_at | date: '%s'
    assign percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | floor
    assign title_lists = false
    for mod_product in settings.best_sellers_collection.products limit: 40
      if product == mod_product
        assign title_lists = true
        break
      endif
    endfor

    assign title_check = false
    for mod_product in settings.new_arrivals_collection.products limit: 40
      if product == mod_product
        assign title_check = true
        break
      endif
    endfor
  -%}
    {%- liquid 
    if product.available == false
      echo '<span class="text-xxxs lg:text-[11px] uppercase inline-block leading-[8px] lg:leading-[11px] font-heading font-bold min-w-[30px] lg:min-w-[44px] rounded-[3px] bg-background text-primary p-1 text-center">'
      echo 'products.product.sold_out' | t
      echo '</span>'
    elsif title_lists == true
      echo '<span class="text-xxxs lg:text-[11px] uppercase inline-block leading-[8px] lg:leading-[11px] font-heading font-bold min-w-[30px] lg:min-w-[44px] rounded-[3px] bg-background text-sale p-1 text-center">'
      echo 'products.product.best_seller' | t 
      echo '</span>'
    elsif title_check == true
      echo '<span class="text-xxxs lg:text-[11px] uppercase inline-block leading-[8px] lg:leading-[11px] font-heading font-bold min-w-[30px] lg:min-w-[44px] rounded-[3px] bg-background text-primary p-1 text-center">'
      echo 'products.product.new' | t
      echo '</span>'
    elsif product.compare_at_price > product.price and product.available and percent >= 20 and page.template_suffix != 'product'
      echo '<span class="text-xxxs lg:text-[11px] uppercase inline-block leading-[8px] lg:leading-[11px] font-heading font-bold min-w-[30px] lg:min-w-[44px] rounded-[3px] bg-background text-sale p-1 text-center">'
      echo 'products.product.on_sale' | t
      echo '</span>'
    endif
  -%}
</div>