<modal-dialog id="wishlist-notifycation" class="opacity-0 invisible transition-all fixed w-fit h-fit bg-background top-11 lg:top-26 right-4 z-20 shadow-megamenu">
  <div class="text-primary text-sm leading-5 lg:text-base lg:leading-6 font-normal py-3.5 lg:py-3 px-4 flex items-center rounded-r-lg border-l-[3px] border-success gap-3">
    <span>{{ 'wishlist.notify' | t }}</span>
    {% render 'icon-close', class: 'w-6 h-6 close cursor-pointer flex-none' %}
  </div>
</modal-dialog>